.vb-cb-single-image__figure {
  text-align: center;
}

.vb-cb-single-image__link {
  display: block;
}

.vb-cb-single-image__img {
  width: 100%;
  height: auto;
  display: block;
  transition: all 0.2s ease;
}

.vb-cb-single-image__caption {
  margin-top: 0.75rem;
  font-size: 0.875rem;
  text-align: center;
}
