<section class="vb-product-cards" data-block="cb-product-cards">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    {{if .heading}}
    <h2 class="vb-product-cards__heading">{{.heading}}</h2>
    {{end}}
    <div class="vb-product-cards__grid vb-product-cards__grid--cols-{{.columns}}">
      {{range .products}}
      <div class="vb-product-cards__card">
        <div class="vb-product-cards__image-wrap">
          <img src="{{.image}}" alt="{{.name}}" class="vb-product-cards__image" loading="lazy" />
        </div>
        <div class="vb-product-cards__body">
          {{if .category}}
          <span class="vb-product-cards__category">{{.category}}</span>
          {{end}}
          <h3 class="vb-product-cards__name">{{.name}}</h3>
          <div class="vb-product-cards__price-row">
            <span class="vb-product-cards__price">{{.price}}</span>
            {{if .original_price}}
            <span class="vb-product-cards__original-price">{{.original_price}}</span>
            {{end}}
          </div>
          <a href="{{.button_url}}" class="vb-product-cards__button">{{.button_text}}</a>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
