<footer class="bg-[#fbf9f6] w-full border-t border-zinc-200/30 mt-auto">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center px-8 py-16 gap-8">
        <div class="space-y-2 text-center md:text-left">
            <div class="sora text-lg font-bold text-zinc-900">{{.app.settings.site_name}}</div>
            <p class="text-sm font-light text-zinc-500">&copy; 2026 {{.app.settings.site_name}}. Curated intelligence for the modern web.</p>
        </div>
        {{renderLayoutBlock "footer-nav"}}
    </div>
</footer>
